* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* `HEADER */

figure {
  display: flex;
  align-items: center;
  margin-left: 10rem;
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 50px;
}

ul {
  display: flex;
  padding: 10px;
  align-items: center;
  list-style-type: none;
  margin-left: 15rem;
}

ul li a {
  padding: 15px;
  font-size: 12px;
}

ul li a:hover,
ul li a:active {
  background-color: lightblue;
}

section {
  display: flex;
  align-items: center;
  background-color: black;
  height: 4.5rem;
}

/* `MAIN */
section h3 {
  color: white;
  margin-left: 10rem;
}

menu {
  display: flex;
  background-color: rgb(0, 140, 255);
  height: 5.5rem;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;

}

li img {
  width: 15%;
}

span {
  color: white;
  font-size: 10px;
}

.visa {
  width: 80%;
}